@import url('https://fonts.googleapis.com/css?family=Heebo');
@font-face {
  font-family: 'Druk Wide';
  src: url('/fonts/DrukWide-Bold-Web.woff2') format('woff2');
  font-weight: 600;
  font-style: 600;
}
::selection {
	background:rgba(255,0,0,.9);
}
* {
	cursor: none;
}
a {
	cursor: ne-resize;
}
body {
	margin:0;
	padding:0;
	font-family: 'Heebo', Helvetica, sans-serif;
	background:#0e0d0c;
	color:#fff;
}
.skewable {
	transition:transform .25s;
	will-change:transform;
}
.cursor {
	height: 10px;
	width:10px;
	border-radius: 150px;
	background:#fff;
	position: absolute;
	z-index: 99;
	mix-blend-mode: difference;
	transition:transform .5s cubic-bezier(0.19, 1, 0.22, 1);
	transform: translate(-50%,-50%);
	pointer-events: none;
}
h3 {
	font-family: 'Druk Wide';
	font-weight: 600;
	text-transform: uppercase;
}
.loading-box {
	background:#fff;
	z-index: 98;
	position:fixed;
}
.loading {
	z-index: 98;
	position: fixed;
	top:0;
	left:0;
	background:#0e0d0c;
	width:100%;
	height:100%;
	transition:1s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:1s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:1s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:1s cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition:1s cubic-bezier(0.86, 0, 0.07, 1);
}
.loading .elements {
	position: relative;
	top:50%;
	left:50%;
	width:400px;
	color:rgba(224,224,227,1);
	text-align: center;
	font-size:.8em;
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.loading .elements p {
	width: auto;
	height:auto;
    display: inline-block;
    overflow: hidden;
    margin-bottom:30px;
    opacity: 0;
    transition:1s ease-in-out;
    -o-transition:1s ease-in-out;
    -ms-transition:1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -webkit-transition:1s ease-in-out;
}
.loading .elements p span {
	display: inline-block;
	transition:1s ease-in-out;
	-o-transition:1s ease-in-out;
	-ms-transition:1s ease-in-out;
	-moz-transition:1s ease-in-out;
	-webkit-transition:1s ease-in-out;
}
.loading .elements p img {
	width:20%;
}
.loader-bar {
	height:1px;
	width:0%;
	margin:auto;
	background:rgba(224,224,227,.3);
	transition:.5s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:.5s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:.5s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:.5s cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition:.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.loader-bar .progress {
	height:100%;
	width:0;
	background:#fff;
	margin:auto;
	transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.content {
	display: none;
	width:90%;
	max-width:1300px;
	margin:auto;
}
.top-nav {
	z-index: 98;
	padding:25px 0px;
	box-sizing: border-box;
	height:80px;
	margin-bottom:15px;
}
.top-nav p {
	float:left;
	margin:0;
	margin-top:10px;
	padding:0;
}
.top-nav p a {
	color:inherit;
	text-decoration: none;
}
.top-nav .grid-btn {
	float:right;
	height:25px;
	width:25px;
	margin-top:10px;
	position: relative;
	cursor: pointer;
}
.top-nav .grid-btn.list {
	border:2px solid #fff;
}
.top-nav .grid-btn.grid {
	border-top:2px solid #fff;	
	border-bottom:2px solid #fff;	
}
.top-nav .grid-btn:after {
	content:"";
	background:#fff;
	position: absolute;
}
.top-nav .grid-btn:before {
	content:"";
	background:#fff;
	position: absolute;
}
.top-nav .grid-btn.list:after {
	height:100%;
	width:2px;
	top:0;
	left:50%;
	transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.top-nav .grid-btn.grid:after {
	width:60%;
	height:2px;
	top:33%;
	left:0;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.top-nav .grid-btn.list:before {
	height:2px;
	width:100%;
	top:50%;
	left:0;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.top-nav .grid-btn.grid:before {
	width:70%;
	height:2px;
	top:66%;
	left:0;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
li.track {
	list-style-type: none;
	position: relative;
	text-align: center;
	min-height:600px;
}
li.track p.extras {
	position:absolute;
	font-size:.8em;
	display: none;
}
li.track p.catalog {
	top:20%;
	right:10%;
}
li.track p.year {
	top:30%;
	left:15%;
}
li.track p.track-name {
	margin:0;
	padding:0;
	width:100%;
	font-size:8em;
	font-family: 'Druk Wide', 'Heebo', Helvetica, sans-serif;
	text-transform: uppercase;
	color:transparent;
	text-stroke:2px #fff;
	-o-text-stroke:2px #fff;
	-ms-text-stroke:2px #fff;
	-moz-text-stroke:2px #fff;
	-webkit-text-stroke:2px #fff;
	position: absolute;
	top:50%;
	left:50%;
	transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
li.track img {
	width:80%;
}
li.track a:hover p.track-name {
	color:#fff;
}
li.track canvas {
	position: relative;
	z-index: -2;
	pointer-events: none;
	height:550px;
	margin:auto;
	display: none;
}
.section {
	position: relative;
}
.section a {
	color:inherit;
	text-decoration: none;
	border-bottom:2px solid rgb(24,24,27);
	transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
	-ms-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
}
.section a:hover {
	border-bottom-color:#941a1a;
}
.col {
	display: inline-block;
	vertical-align: top;
}
.col.onethird {
	position:sticky;
	top:0;
	width:33%;
}
.col.twothirds {
	width:66%;
}
.col.two {
	width:49%;
}
.pad.right {
	box-sizing: border-box;
	padding-right:50px;
}
.pad.left {
	box-sizing: border-box;
	padding-left:50px;
}
.section img {
	width:100%;
	margin-bottom:10px;
}

.song-info .artwork {
	width:100%;
	height:530px;
	margin-bottom:20px;
	background:rgba(0,0,0,.1);
	position: relative;
	overflow: hidden;
}
.song-info .artwork img {
	height:80%;
	width:auto;
	position: absolute;
	top:50%;
	left:50px;
	border-radius: 2px;
	box-shadow: 5px 15px 50px rgba(0,0,0,.3);
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.song-info .right-info {
	width:50%;
	position: absolute;
	top:50%;
	right:50px;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.song-info .col {
	display:inline-block;
}
.song-info .col.left {
	width:50%;
	padding-right:60px;
}
.song-info .col.right.two {
	width:33%;
}
.song-info p, h1 {
	margin:0;
	padding:0;
}
.song-info h1 {
	font-family: 'Druk Wide';
	font-weight: 600;
	text-transform: uppercase;
	font-size:4em;
	margin-bottom:10px;
}
.song-info p span {
	font-size:.9em;
	font-weight: 200;
}
.song-info p.tcredits {
	font-size:.8em;
	color:rgba(255,255,255,.5);
	margin-bottom:10px;
}
.song-info li.s-inf-a {
	list-style:none;
	margin-top:5px;
}
.song-info ul.tracklist {
	padding:0;
	list-style-type:none;
	font-size:.9em;
}
.song-info ul.tracklist p {
	font-weight: 800;
}
.song-info ul.tracklist li {
	width:auto;
	padding:15px 0px;
	border-bottom:.5px solid rgba(24,24,27,.3);
}
.song-info li span {
	text-transform: uppercase;
	font-size:.8em;
	letter-spacing: .1em;
	font-weight: 200;
}

a.btn {
	margin-top:55px;
	padding:10px 25px;
	border-bottom:none;
	border-radius: 2px;
}
a.btn.primary {
	background:#000;
	color:#fff;
}
a.btn.primary:hover {
	background:#941a1a;
}
.footer {
	width:100%;
	color:rgba(255,255,255,.3);
	text-align: center;
	font-size:.8em;
	padding:50px 0px;
}
.footer .logo {
	height:40px;
	margin-bottom:15px;
}
.footer .logo img {
	height:100%;
}
.footer .nav-links {
	margin-bottom:5px;
}
.footer .nav-links p {
	display: inline-block;
	margin:5px;
}
.footer .socials a {
	margin-right:8px;
}
.footer a {
	color:rgba(255,255,255,.3);
	text-decoration: none;
	font-size:.8em;
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom:5px;
	transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
	-ms-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
}
.footer a:hover {
	color:rgba(255,255,255,1);
}
.footer .nav-links a:hover {
	border-bottom:2px solid rgba(255,0,0,.9);
}
@media only screen and (max-width: 1200px) {
	.song-info .right-info {
		width:40%;
		right:30px;
	}
	.song-info .artwork img {
		left:30px;
	}
	.song-info h1 {
		font-size:3em;
	}
	.song-info .col.right.two {
		width:45%;
	}
	.song-info li.s-inf-a {
		margin-top:15px;
	}
	.col.onethird {
		width:49.5%;
	}
	.col.twothirds {
		width:50%;
	}
	.tracks.grid li.track {
		width:49.5%;
	}
}
@media only screen and (max-width: 890px) {
	.loading .elements {
		width:80%;
	}
	.tracks.list li.track {
		font-size: 10vw;
	}
	.tracks.list li.track .album-art {
		display: none !important;
	}
	.tracks.grid li.track {
		width:100%;
	}
	.song-info .artwork {
		height:unset;
		background:transparent;
		overflow: unset;
		padding-bottom:20px;
	}
	.song-info .artwork img {
		width:100%;
		height:auto;
		margin:auto;
		position:relative;
		top:unset;
		left:50%;
		transform:translateX(-50%);
		-o-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
	}
	.song-info .right-info {
		width:100%;
		position:relative;
		top:unset;
		left:50%;
		margin-top:50px;
		transform:translateX(-50%);
		-o-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
	}
	.song-info .col.right.two {
		width:100%;
	}
	.song-info li.s-inf-a {
		margin-top:25px;
		text-align: center;
	}
	.col.onethird {
		position: unset;
		width:100%;
		margin-bottom:50px;
	}
	.col.twothirds {
		width:100%;
	}
	.pad.right {
		padding:0;
	}
}